<h1>{{title}}</h1>
<h2>My name is: {{member.firstname}}</h2>

<p>Members:</p>

<ul>
  <li *ngFor="let member of members">
    {{member.firstname}} {{member.lastname}}
  </li>
</ul>

<p *ngIf="members.length==1">There are {{members.length}} member!</p>
<p *ngIf="members.length>2">There are {{members.length}} members</p>

<button (click)='onClickButton()'>Shoot it!</button>
{{clickMessage}}

<br><br>
<label>Key Input</label>
<input (keyup)='onKeyEventValue($event)'/>
<p>{{eventValue}}</p>

<br><br>
<label>Template reference variable</label>
<input #refValue (keyup)='0'/>
<p>{{refValue.value}}</p>
